<%- include("partials/header") -%>

<h1>Compose</h1>
<form action="/compose" method="post">
  <div class="form-group">
    <label for="inTitle">Title</label>
    <input type="text" name="title" id="inTitle" class="form-control">
  </div>
  <div class="form-group">
    <label for="inTextArea">Post</label>
    <textarea name="post" id="inTextArea" class="form-control" rows="5"></textarea>
  </div>
  <button type="submit" name="button" class="btn btn-primary">Publish</button>
</form>

<%- include("partials/footer") -%>